# Supabase Credentials
NEXT_PUBLIC_SUPABASE_URL=https://sxbyyxexufcyannkwthh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN4Ynl5eGV4dWZjeWFubmt3dGhoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM3NzUyMzcsImV4cCI6MjA5OTM1MTIzN30.OpKtNPBUvexB9S9CExOHYz6xOjvRHxikQadSnDm5Lr4

# Direct PostgreSQL Database Connection
DB_HOST=aws-0-eu-west-3.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.sxbyyxexufcyannkwthh

# Evolution WhatsApp API Credentials
EVOLUTION_API_BASE_URL=https://expensive-michelle-huwiyyaa-4d991118.koyeb.app
EVOLUTION_API_INSTANCE=Tamowil
EVOLUTION_API_KEY=66A834200160-4DA1-A15F-0F10C44B8A98
